.faq-item {
    padding: 15px;
    /* margin-bottom: 10px; */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.faq-question {
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    position: relative;
    padding-left: 2rem;
}

.faq-answer {
    margin-left: 18px;
    
}

.faq-question::before {
    content: '▶';
    position: absolute;
    left: 0rem;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
    font-size: 1.5em;
    color: #3B3561;
}

.faq-item[open]>.faq-question::before {
    transform: translateY(-50%) rotate(90deg);
}

.faq-question::-webkit-details-marker {
    display: none;
}

.faq-answer { /* Стиль для ответа */
    padding: 1rem;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
  }
  
  .faq-answer p {
    margin: 0;
    line-height: 1.6;
  }