.language-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
}

@media (max-width: 768px) {
    .language-cards {
        justify-content: center;
        gap: 2rem;
    }
}