.studying-benefits-section {
    background-color: #FCFBFB;
    /* padding: 3rem 1rem; */
    position: relative;
    margin-bottom: 50px;
}

.studying-benefits-title {
    text-align: center;
    font-size: 1.8rem;
    color: black;
    /* margin-bottom: 4rem; */
    font-weight: bold;
}

.benefits-layout-container {
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
    min-height: 900px;
    overflow: hidden;
}

.benefit-background-img {
    position: absolute;
    z-index: 1;
}

.benefit-alien-img {
    top: 15%;
    left: 18%;
}

.benefit-ufo-img {
    top: 40%;
    left: 65%;
    width: 300px;
    transform: rotate(23deg);
}

.benefit-logo-text-img {
    top: 75%;
    left: 15%;
}

.benefit-card-wrapper {
    position: absolute;
    z-index: 10;
    width: 35%;
    /* max-width: 350px; */
}

.benefit-card-1 {
    top: 10%;
    right: 12%;
    /* transform: rotate(5deg); */
}

.benefit-card-2 {
    top: 40%;
    left: 10%;
    /* transform: rotate(-8deg); */
}

.benefit-card-3 {
    top: 70%;
    right: 15%;
    /* transform: rotate(3deg); */
}