.icon-link {
    text-decoration: none;
    color: black;
}

.icon-with-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-circle {
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.icon-label {
    margin-top: 16px;
}

@media (max-width: 768px) {
    .icon-link {
        flex-basis: calc(50% - 1rem);
        max-width: 150px;
    }

    .icon-circle {
        width: 100px;
        height: 100px;
    }

    .icon-circle img {
        width: 100px;
        height: 100px;
    }

    .icon-label {
        font-size: 0.9rem;
    }
}