.games-page-main {
    padding: 4rem 0 6rem 0;
    background-color: #fdfcff;
}

.games-page-title {
    text-align: center;
    font-size: 2.8rem;
    color: #3B3663;
    margin-bottom: 1rem;
}

.games-page-subtitle {
    text-align: center;
    font-size: 1.1rem;
    color: #7c789a;
    max-width: 600px;
    margin: 0 auto 4rem auto;
}

.games-grid {
    display: grid;
    /* Создаем 2 колонки на десктопе, 1 на мобильных */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .games-page-title {
        font-size: 2.2rem;
    }
    .games-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}