.teachers-page {
    padding: 2rem;
}

.teachers-page-title {
    text-align: center;
    font-size: 2.5rem;
    color: #3B3663;
    font-family: 'Cursive', sans-serif;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .teachers-page-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}