.blog-card-link {
    text-decoration: none;
    color: #000;
}

.blog-card-link:active {
    color: black;
}

.blog-card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-card-image {
    max-width: 350px;
}