.footer {
    background-color: #3B3663;
    color: white;
    padding: 2rem 1rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    align-items: center;
}

.right-section,
.left-section,
.social-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: opacity 0.2s;
    opacity: 0.8;
}

.social-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: opacity 0.2s;
}

.social-links a:hover,
.footer-nav a:hover {
    opacity: 1;
}

.footer .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer .logo img {
    height: 100px;
}

.footer .logo-text {
    font-family: 'DM Serif Display';
    font-size: 1.5rem;
    color: white;
}

@media (min-width: 768px) {
    .footer {
        padding: 2rem 2rem;
    }

    .footer-nav {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        gap: 1rem;
        justify-content: space-between;
    }

    .social-links a {
        justify-content: flex-start;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 2rem 4rem;
    }
}