.benefit-card {
    background-color: #534c85;
    border-radius: 12px;
    padding: 1.5rem;
    z-index: 5;
}

.benefit-card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #FCFBFB;
    margin-bottom: 0.8rem;
}

.benefit-card-description {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #FCFBFB;
}

@media (min-width: 768px) {
    .benefit-card {
        padding: 2rem;
    }
}